code {
	color: #57B657;
}
.auth .brand-logo img {
	width: 200px;
}
.navbar .navbar-brand-wrapper .navbar-brand img {
	height: auto;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile img {
	border: 2px solid #6C7383;
	object-fit: cover;
}
.sidebar .nav .nav-item .nav-link {
	align-items: flex-end;
}
.sidebar .nav.sub-menu {
	background: #68689b;
    padding: 0.25rem 0 0.25rem 2.07rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.page-title {
	padding-bottom: 15px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-people {
    height: 100%;
    border-radius: 22px;
    background-size: cover;
}
.card-label {
	display: inline-block;
	width: 60px;
}
.filter {
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn-icon-text.btn-sm {
	display: flex;
	align-items: end;
	padding: 0.3rem 0.81rem;
}
.input-group-sm > .form-control:not(textarea) {
	padding: 0.3rem 0.5rem;
    font-size: 0.875rem;
    height: 2rem;
}
select.form-control {
    border: 1px solid #CED4DA;
    outline: none;
    padding: 0.875rem 1.375rem;
}
.table th,
.table td {
	padding: 0.75em;
}
.table td img {
	object-fit: cover;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table-striped tbody tr:hover {
	background-color: #f3f3f3;
}
.table-striped tbody tr td {
	border-top: none;
}